<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-6level %msg%n"/>
        </Console>

        <Console name="stderr" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-6level %msg%n"/>
        </Console>

        <File bufferSize="1" fileName="${filename}" name="File">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %msg%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef level="${sys:freerouting.log.console.level:-INFO}" ref="Console"/>
            <AppenderRef level="ERROR" ref="stderr"/>
            <AppenderRef level="${sys:freerouting.log.file.level:-DEBUG}" ref="File"/>
        </Root>
    </Loggers>

    <Properties>
        <Property name="filename">${sys:freerouting.log.file:-logs/freerouting-v190.log}</Property>
    </Properties>

    <ThresholdFilter level="trace"/>
</Configuration>