<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="filename">logs/freerouter.log</Property>
    </Properties>
    <ThresholdFilter level="trace"/>

    <Appenders>
        <File name="File" fileName="${filename}" bufferSize="1">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
        </File>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Console" level="INFO"/>
            <AppenderRef ref="File" level="TRACE"/>
        </Root>
    </Loggers>
</Configuration>