[Desktop Entry]
Name=Freerouting
Comment=Open-source PCB autorouter supporting Specctra/Electra DSN interfaces
Exec=freerouting %F
Icon=freerouting
Terminal=false
Type=Application
Categories=Development;Electronics;Engineering;Science;Education;
StartupNotify=true
StartupWMClass=app-freerouting-FreeRouting
Keywords=pcb;electronics;autorouter;layout;design;EDA;PCB;free;open-source;specctra;dsn;electra;
MimeType=application/x-dsn;application/x-dsn+xml;
GenericName=PCB Autorouter

